* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    background-image: url(../img/jumbo.png);
    height: 600px;
    width: 100%;
    background-size: cover;
}

.contenitore-header {
    width: 90%;
    margin: auto;
    position: relative;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#logo-discord {
    margin-top: 20px;
    float: left;
}

/* navigazione header */

.lista-nav {
    margin-left: 30%;
}

.lista-nav li{
    list-style-type: none;
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}

#accesso {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

/* jumbo */

.jumbo {
    width: 60%;
    margin: 100px 300px 0;
}

.jumbo h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.jumbo p {
    width: 80%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 100px 0;
}

.bottoni {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

#scarica {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
    font-weight: bold;
}

.fa-long-arrow-alt-down {
    padding-right: 15px;
}

#apri {
    font-size: 15px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 26);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

/* parte principale */

main {
    width: 100%;
    margin: auto;
}

.sezioni-principali {
    height: 750px;
    margin-bottom: 50px;
}

.immagine-sezione {
    float: left;
    width: 50%;
}

/* sezione 1 e 3 */

.immagine-sezione img {
    margin-top: 100px;
    padding-left: 150px;
}

.spiegazione-sezione {
    float: left;
    margin-top: 100px;
    width: 50%;
    /* padding: 20px; */
}

.spiegazione-sezione h2 {
    padding: 20px 220px;
    font-size: 45px;
    color: rgb(0, 0, 26);
}

.spiegazione-sezione p {
    font-size: 19px;
    margin-top: 20px;
    color: rgb(0, 0, 26);
    padding: 0 220px;
}

/* sezione 2 */

.grigio {
    background-color: rgb(236, 236, 236);
}

#immagine-2 {
    padding: 0;
    width: 70%;
}


/* sezione 4 */

.ultimi-consigli {
    margin: auto;
    width: 75%;
    text-align: center;
}

.ultimi-consigli h2 {
    font-size: 45px;
    color: rgb(0, 0, 26);
}

.ultimi-consigli p {
    font-size: 19px;
    color: rgb(0, 0, 26);
    width: 90%;
    margin: 20px auto;
}

#ultima-immagine {
    width: 90%;
    padding-left: 170px;
}

.ready {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.ready h2 {
    text-align: center;
    font-size: 28px;
    padding-top: 40px;
}